

#container {
  max-width: 500px;
  margin: auto;
}
header {
  background-color: black;
  text-align: center;
  padding: 15px;
}

header img {
  width: 400px;
}

#banner {
  background-image: url(../images/banner.jpg);
  background-position: top;
  background-size: cover;
  height: 400px;
  text-align: center;
  padding-top: 100px;
}

#banner-text {
  padding: 100px;
}

button {
  display: inline-block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 25px;
  background-color: #f14c2f;
  border-color: transparent;
}

button a {
  color: white;
  text-decoration: none;
}

#vantaggi {
  text-align: center;
}
#vantaggi img {
  border-radius: 100%;
  margin: 20px;
}

#citazione {
  text-align: center;
  background-color: red;
  padding: 20vh;
}

.prodotti {
  border: solid #e2e5e5;
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.prodotti img {
  width: 100%;
  height: auto;
}

.prodotti-text {
  padding: 40px;
}

footer {
  background-color: #1c97a7;
  text-align: center;
  color: white;
}
footer hr {
  width: 50%;
}

footer a {
  color: white;
}
