#container{
    width: 1920px;
    box-sizing: border-box;
}
#logo {
    background-color: black;
    padding: 40px;
}

#banner {
    background-image: url(../images/banner.jpg);
    background-position: top;
    height: 700px;
}

#banner-text{
    text-align: center;
    line-height: 1.5em;
}

button {
    display: block;
    margin: 0 auto;
    width: 100px;    
    border-radius: 10%;
    background-color: #F14C2F;
    border-color: transparent;
}

#banner-text a {
    color: white;
    text-decoration: none;
}

#centrale{
    margin: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#centrale img {
    border-radius: 100%;
}
